* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #eee;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.image img {
    width: 1000px;
}

.form-box {
    background: white;
    padding: 30px;
    margin-left: 30px;
    width: 400px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

hr {
    margin: 15px 0;
    border: 1px solid red;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.name,
.address {
    display: flex;
    gap: 10px;
}

.gender,
.check {
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}